@use '../global/variables.scss' as *;
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	padding: 20px;
}

.dataContainer {
	background: $dark-gray;
	color: $text;
	padding: 20px;
	max-width: 600px;
	width: 100%;
}

.data {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.button {
	background: $primary;
	color: $text;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1em;
	margin-right: 10px;
	cursor: pointer;
	&:hover {
		background: darken($primary, 10%);
	}
}
